<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>旅游问答,解决旅行问题,基于旅游的问答分享平台 - 狼行天下</title>
    <meta name="description"
          content="狼行天下旅游问答是基于旅游的问答分享平台,这里聚集了各路旅行达人,只要你有旅行中的问题,在狼行天下问答问出来,总有旅行经验丰富或者居住在当地的旅行家会为你热心解答">
    <meta name="keywords" content="狼行天下旅游问答">
    <meta name="renderer" content="webkit">
    <script src="/js/hm.js"></script>
    <script type="text/javascript">
        window.Env = {
            "qa_page": "index",
            "WWW_HOST": "localhost:12345",
            "IMG_HOST": "localhost:12345",
            "W_HTTP": "localhost:12345",
            "P_HOST": "localhost:12345",
            "P_HTTP": "localhost:12345",
            "PAGELET_HTTP": "localhost:12345",
            "JS_HOST": "localhost:12345",
            "TONGJI_HOST": "localhost:12345",
            "UID": 48455706,
            "CSTK": "9fa8f73a91ed02b99adc212f2f3c2364_830964691c45b17e37b7d81bf4aa7fbc",
            "GOOGLE_MAP_KEY": "AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ",
            "MOBILE_BINDED": true
        };
    </script>

    <link href="/css/1642608184.css" rel="stylesheet" type="text/css">
    <link href="/css/mfw-ask.css" rel="stylesheet" type="text/css">
    <link href="/css/wenda/hot.css" rel="stylesheet" type="text/css">
    <link href="/css/mfw-footer.css" rel="stylesheet" type="text/css">
    <link href="/css/mfw-toolbar.css" rel="stylesheet" type="text/css">
    <script src="/js/1650612185.js" type="text/javascript" crossorigin="anonymous"></script>
    <script async="" src="/js/BrowserState.js" crossorigin="anonymous"></script>
    <script defer="" async="" type="text/javascript" src="/js/aria.js" crossorigin="anonymous" charset="utf-8"></script>
    <script src="/js/vue.js" type="text/javascript"></script>
</head>
<body style="position: relative;">
<div id="hot">
    <template>
        <div class="topBar">
            <header-counter></header-counter>
        </div>
        <input type="hidden" id="_j_param" data-type="0" data-key="" data-mddid="" data-tid="" data-more="1"
               data-time="">
        <div class="wrapper wrapper-new" data-cs-t="wenda">
            <div class="col-main">
                <div class="i-main">
                    <div class="mt-nav clearfix i_link">
                        <a href="/wenda/index.html">问答首页</a>
                        <em></em>
                        <div class="drop-mine _j_crumb_my" @mouseleave="askStatus = false">
                            <a class="drop-hd" href="/user/question.html" target="_blank"
                               @mouseenter="askStatus = true"><i></i>我的问答</a>
                            <ul class="drop-bd" v-if="askStatus">
                                <li><a href="/user/question.html" target="_blank">我的提问</a></li>
                                <li><a href="/user/answer.html" target="_blank">我的回答</a></li>
                            </ul>
                        </div>
                        <span class="title"><a href="#" target="_blank"><i></i>查看如何使用</a></span>
                    </div>
                    <div class="search-box">
                        <div class="search-panel" data-cs-t="wenda">
                            <div class="clearfix _j_suggest_hd">
                                <div class="sp-input">
                                    <input type="text" id="_j_wenda_seach_input" v-model="inputVal"
                                           placeholder="提问前请先搜索，看看你的问题其他蜂蜂是否已经问过">
                                </div>
                                <input type="button" class="sp-button" data-mddid="0" @click="toSearchPage">
                            </div>
                            <div class="bd _j_suggest_box" v-if="inputVal">
                                <div class="bd-question">
                                    <h3>问题 (<span v-html="searchData.length"></span>)</h3>
                                    <ul>
                                        <li class="_j_search_item" v-for="(item, index) in searchData" :key="index">
                                            <a target="_blank" href="/wenda/detail.html" data-cs-p="suggest_detail">
                                                {{item.name}}<span>{{item.num}} 回答</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bd-more">
                                    <a href="/wenda/search.html"><i></i>查看全部关于“成都”的搜索结果</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newcate-wrap _j_qa_list">
                    <ul class="hd cate-tab">
                        <li :class="tabIde === ide ? 'on' :''" :data-type="ide" v-for="(tab, ide) in cateTab" :key="ide"
                            @click="changeTab(ide)"><a href="#">{{tab.title}}</a></li>
                    </ul>
                    <ul class="bd newcate-bd _j_pager_box">
                        <li class="item clearfix" v-for="(item,ide) in hotListData" :key="ide">
                            <!--                已回答        -->
                            <div v-if="item.browse">
                                <div class="title">
                                    <a href="/wenda/detail.html" target="_blank">{{item.name}}</a>
                                </div>
                                <div class="container">
                                    <div class="avatar">
                                        <a href="/user/answer.html" target="_blank" class="_j_filter_click">
                                            <img class="_j_filter_click" :src="item.userImg">
                                        </a>
                                    </div>
                                    <div class="user-info">
                                        <a class="name _j_filter_click" href="/user/answer.html"
                                           target="_blank">{{item.username}}</a>
                                    </div>
                                    <div class="desc clearfix">
                                        <a href="/wenda/detail.html" target="_blank" style="color: #666;">
                                            <img :src="item.img" width="150" height="100" v-if="item.img">
                                            <p>{{item.msg}}</p>
                                        </a>
                                    </div>
                                    <div class="operate">
                                        <div class="zan"><i></i>{{item.num}}</div>
                                        <div class="mdd">
                                            <a href="/wenda/area-10198.html" class="_j_filter_click" target="_blank">
                                                <i class="_j_filter_click"></i>{{item.address}}
                                            </a>
                                        </div>
                                        <div class="cate-share" v-if="item.share">
                                            <a class="_js_showShare _j_filter_click">分享</a>
                                            <div class="cate-share-pop _j_share_pop hide clearfix"
                                                 :data-title="item.name" :data-content="item.msg">
                                                <a title="分享到新浪微博" class="sina _j_do_share _j_filter_click"
                                                   data-site="wb" :data-username="item.username"></a>
                                                <a title="分享到QQ空间" class="zone _j_do_share _j_filter_click"
                                                   data-site="qz" :data-username="item.username"></a>
                                                <a title="分享到微信" class="weixin _j_do_share_wx _j_filter_click"
                                                   data-site="wx" :data-username="item.username"></a>
                                            </div>
                                        </div>
                                        <a href="/wenda/detail.html" target="_blank" style="text-decoration: none;">
                                            <span class="reply">回答 ({{item.comment}})</span>
                                        </a>
                                        <a href="/wenda/detail.html" target="_blank" style="text-decoration: none;">
                                            <span class="reply">浏览 ({{item.browseNum}})</span>
                                        </a>
                                        <span class="date"><i></i>发布于{{item.time}}</span>
                                    </div>
                                </div>
                            </div>
                            <!--             待回答       -->
                            <div class="container" v-else>
                                <div class="avatar">
                                    <a href="/wenda/answer.html" target="_blank" class="_j_filter_click">
                                        <img class="_j_filter_click" :src="item.userImg">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="/wenda/detail.html" class="_j_filter_click"
                                       target="_blank">{{item.name}}</a></div>
                                <div class="desc clearfix">
                                    <p>{{item.dec}}</p>
                                </div>
                                <div class="operate">
                                    <div class="zan"><i></i>{{item.num}}</div>
                                    <div class="mdd"><a href="https://www.mafengwo.cn/wenda/area-12871.html"
                                                        class="_j_filter_click" target="_blank"><i
                                            class="_j_filter_click"></i>{{item.address}}</a></div>
                                    <div class="cate-share" v-if="item.share">
                                        <a class="_js_showShare _j_filter_click">分享</a>
                                        <div class="cate-share-pop _j_share_pop hide clearfix" :data-title="item.name"
                                             :data-content="item.msg">
                                            <a title="分享到新浪微博" class="sina _j_do_share _j_filter_click"
                                               data-site="wb"></a>
                                            <a title="分享到QQ空间" class="zone _j_do_share _j_filter_click"
                                               data-site="qz"></a>
                                            <a title="分享到微信" class="weixin _j_do_share_wx _j_filter_click"
                                               data-site="wx"></a>
                                        </div>
                                    </div>
                                    <a class="reply-wait _j_filter_click" href="/wenda/detail.html" target="_blank"><em><i></i>待回答</em></a>
                                    <a href="/wenda/detail.html" target="_blank" style="text-decoration: none;">
                                        <span class="browse">浏览 ({{item.browseNum}})</span>
                                    </a>
                                    <span class="date"><i></i>发布于{{item.time}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="_j_pager">
                        <div class="ft ft_load_btn">
                            <div class="answer-more _j_add_more_button ">
                                <a>加载更多<i></i></a>
                            </div>
                        </div>
                        <div class="ft ft_loading _j_add_loading_button hide">
                            <div class="answer-loading">正在加载<i></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <wd-tag-counter></wd-tag-counter>
        </div>
        <div id="footer" style="height: 150px;">
            <footer-counter></footer-counter>
        </div>
        <div class="mfw-toolbar mfw-acc-hide" id="_j_mfwtoolbar">
            <div class="toolbar-item-top">
                <a role="button" class="btn _j_gotop">
                    <i class="icon_top"></i>
                    <em>返回顶部</em>
                </a>
            </div>
            <div class="toolbar-item-feedback">
                <a role="button" data-japp="feedback" class="btn">
                    <i class="icon_feedback"></i>
                    <em>意见反馈</em>
                </a>
            </div>
        </div>
    </template>
</div>
<script type="module">
    import headerCounter from '/common/header.js' // 底边栏
    import wdTagCounter from '/common/wdTag.js' // 左侧我要提问侧边栏
    import footerCounter from '/common/footer.js' // 底边栏
    var app = new Vue({
        el: '#hot',
        components: {wdTagCounter, footerCounter, headerCounter},
        data: {
            cateTab: [{title: '热门问题', url: '/wenda/hot.html'}, {title: '最新问题', url: '/wenda/new.html'}, {
                title: '待回答问题',
                url: '/wenda/weida.html'
            }],
            tabIde: 0,
            askStatus: false, // 我的问答更多选项
            inputVal: '',
            searchData: [],
            hotListData: []
        },
        methods: {
            getAskList(url) {
                $.get(url).then((res) => {
                    if (res.ask.code === 0) {
                        this.hotListData = res.ask.data
                    }
                })
            },
            changeTab(ide) {
                var itemUrl = '';
                this.tabIde = ide
                if (ide === 0) {
                    itemUrl = '/json/hot_list.json'
                } else if (ide === 1) {
                    itemUrl = '/json/new_list.json'
                } else {
                    itemUrl = '/json/wei_da_list.json'
                }
                this.getAskList(itemUrl)
            },
            getSearchData() {
                $.get('/json/hot_search_list.json').then((res) => {
                    if (res.search.code === 0) {
                        this.searchData = res.search.data
                    }
                })
            },
            toSearchPage(){
                window.location.href = "/wenda/search.html"
            }
        },
        mounted() {
            this.getAskList('/json/hot_list.json')
            this.getSearchData()
            var JsEle = document.createElement('script')
            JsEle.src = "/js/1631273808.js"
            document.body.append(JsEle)
        }
    })
</script>

</body>
</html>
